{
  "host": "{{ influxdb_dump_host }}",
  "username": "{{ influxdb_dump_username }}",
  "password": "{{ influxdb_dump_password }}",
  "database": "{{ influxdb_dump_database }}",
  "series": "{{ influxdb_dump_series }}",
  "dir": "{{ influxdb_dump_dir }}",
  "aws": "{{ influxdb_dump_aws }}"
}