description     "delvierly startup script"
author "dem@teachbase.ru"

start on runlevel[2345]
stop on runlevel[06]

pre-start script
  echo "Deliverly Started at  `date`" >> /home/{{ deploy_user }}/deliverly.log
end script

script
  export HOME="/home/{{ deploy_user }}"
  exec start-stop-daemon --start --name deliverly --user {{ deploy_user }} --chuid {{ deploy_user }} --exec {{ deliverly.bin_path }}/deliverly -- start
end script

pre-stop script
  echo  "Deliverly Stopped at  `date`" >> /home/{{ deploy_user }}/deliverly.log
  exec service deliverlyd stop
end script